../creditcard.csv
../predictions.log
../simulation.log
/simulation.log
./simulation.log
//simulation.log
*simulation.log
**simulation.log
project/simulation.log
project/predictions.log
project/creditcard.csv
C:\Users\HARLE\OneDrive\Skrivebord\FraudDetection\project\simulation.log
**/log
**/logs
simulation.log
predictions.log
fraud_detection_model.pk1
**predictions.log
*predictions.log
**fraud_detection_model.pk1
*fraud_detection_model.pk1
/project/fraud_detection_model.pk1
creditcard.csv
predictions.log