../creditcard.csv
../predictions.log
../simulation.log
/simulation.log
./simulation.log
//simulation.log
*simulation.log
**simulation.log
project/simulation.log
project/predictions.log
project/creditcard.csv
C:\Users\HARLE\OneDrive\Skrivebord\FraudDetection\project\simulation.log